{% extends 'shop/basic.html' %}
{% block title %}About{%endblock%}
{%block body%}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Shop.com</h1>
      <p>Welcome to shop.com by Sanjograj Singh</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>



</main>
{%endblock%}
{%block js%}
<script>
if (localStorage.getItem('cart')==null)
{
var cart={};
}
else{
cart=JSON.parse(localStorage.getItem('cart'))
}
document.getElementById('cart').innerHTML=Object.keys(cart).length
</script>
{%endblock%}